name: publish

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: "ubuntu-latest"
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Build library
        run: poetry build

      - name: Authenticate in PyPi
        run: poetry config http-basic.pypi __token__ ${{ secrets.PYPI_TOKEN }}

      - name: Publish library
        run: poetry publish
